<%-include('./partials/header')%>
<section id="events">
    <h2>PRIVATE EVENTS</h2>
    <div class="grid">
        <article>
            <img src="events2.png" alt="">
            <!-- <h3>Weddings</h3> -->
            <div class="yellow-box-left"></div>
        </article>
        <article>
            <img src="events1.png" alt="">
            <!-- <h3>Corporate events</h3> -->
            <div class="yellow-box-right"></div>
        </article>
    </div>
    <p>For private events please call: +40 729 131 637/+40 726 458 782 or use the contact form.</p>
</section>
<%-include('./partials/footer')%>
</body>

</html>