<%-include('./partials/header')%>

<section id="about">
   <article>
      <h3>ABOUT US</h3>
      <div class="line"></div>
      <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odit reiciendis consectetur earum,
         sapiente impedit.</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas veniam delectus eum magnam consequuntur.
         Doloremque, consectetur nulla veritatis, optio earum nihil adipisci ducimus animi excepturi itaque culpa!
         Labore, reiciendis aut.</p>
   </article>
   <article>
      <img src="about-img.png" alt="">
      <div class="yellow-box yellow-box-right"></div>
   </article>
</section>

<%-include('./partials/footer')%>
</body>

</html>